﻿@model MyBlog.Models.Section

@{
    ViewBag.Title = "Smaž sekci";
}

<h3>Opravdu chce odstranit sekci "@Html.DisplayFor(model => model.Sekce)"?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smaž sekci" class="btn btn-default" /> |
            @Html.ActionLink("Zpět na správu sekcí", "Index")
        </div>
    }
</div>
