﻿@model IEnumerable<MyBlog.Models.Section>

@{
    ViewBag.Title = "Správa sekcí";
}

<h2>Správa sekcí</h2>

<p>
    @Html.ActionLink("Vytvoř novou sekci", "Create")
</p>
<table class="table">
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sekce)
        </td>
        <td>
            @Html.ActionLink("Editovat", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
        </td>   
    </tr>
}

</table>
@Html.ActionLink("Zpět na Blog", "index", "Article")
