﻿@model MyBlog.Models.Article

@{
    ViewBag.Title = "Vymaž článek";
}
<h3>Opravdu chce odstranit článek "@Html.DisplayFor(model => model.Title)"?</h3>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Vymazat článek" class="btn btn-default" /> |
            @Html.ActionLink("Zpět na Blog", "Index")
        </div>
    }
