﻿@model MyBlog.Models.Article

@{
    ViewBag.Title = "Detail článku";
}

<h2>Detail článku</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.Raw(Model.Text) @*přepsáno z DisplayFor na RAW , neprovádí se převod HTML enti., možno vkládat HTML code.*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>
        

    </dl>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
    @Html.ActionLink("Upravit", "Edit", new { id = Model.Id })
    @:| 
    }

    @Html.ActionLink("Zpět na Blog", "Index")
</p>
