﻿@model IEnumerable<MyBlog.Models.Article>
@{
    ViewBag.Title = "Sekce";
}

<h2>Filtr sekce</h2>

    <hr />
  <body>

      @foreach (var item in Model)
      {
          {
            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
            <p class="card-text">@Html.DisplayFor(modelItem => item.OpenText)</p>
            <a href="@Url.Action("Details", "Article", new { id = item.Id })" class="btn btn-primary">Přečíst více &rarr;</a>
            <p>
                @if (User.IsInRole("admin"))
                    {
                       @Html.ActionLink("Upravit", "Edit", new { id = item.Id })
                       @:| 
                       @Html.ActionLink("Smazat", "Delete", new { id = item.Id })
                    }
            </p>
                <div class="card-footer text-muted">Uveřejněno @Html.DisplayFor(modelItem => item.PublicationDate)</div>
          }
      }
      <p>
          @Html.ActionLink("Zpět na Blog", "Index")
      </p>
  </body>  
        
