﻿@model IEnumerable<MyBlog.Models.Article>

@{
    ViewBag.Title = "Blog";
}
<body>

@foreach (var item in Model)
    {
        <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
        <p class="card-text">@Html.DisplayFor(modelItem => item.OpenText)</p>
            <a href="@Url.Action("Details", "Article", new { id = item.Id })" class="btn btn-primary">Přečíst více &rarr;</a>
                <p>
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Upravit", "Edit", new { id = item.Id })
                        @:| 
                        @Html.ActionLink("Smazat", "Delete", new { id = item.Id })
                    }
                </p>
        <div class="card-footer text-muted">Uveřejněno @Html.DisplayFor(modelItem => item.PublicationDate)</div>
    }
</body>

@section SideBar{
     
<div class="card my-4">
<h5 class="card-header">Sekce</h5>
<div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                         @foreach (var item in Model.Select(x=> x.Section).Distinct())
                         {
                            <li>
                                 @Html.ActionLink(item, "FiltrSekce", "Article", new { filtrSekce = item }, null)
                            </li>
                         }
                    </ul>
                </div>
            </div>
</div>
</div>
}
@if (User.IsInRole("admin"))
{
@section SideBarAdmin{

<div class="card my-4">
<h5 class="card-header">Administrace obsahu blogu</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                <li>
                    @Html.ActionLink("Vytvořit nový článek", "Create")
                </li>
                <li>
                    @Html.ActionLink("Správce sekcí", "index", "Sections")
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
}
}
