﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("MyBlog", "Index", "Article", new { area = "" }, new { @class = "navbar-brand " })
                    </li>
                      
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </nav>
    <div class="container body-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            @RenderBody()

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @RenderSection("SideBar", required: false)
                    @RenderSection("SideBarAdmin", required: false)
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>  </p>
    </footer>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Vytvořil Jiří Bardoděj pro Business Blogic @DateTime.Now.Year
            </p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
